{% extends 'base.html.twig' %}

{% block title %}Une communauté: des News{% endblock %}

{% block body %}
	<div class="">
		<div class="">
			<h1 class="display-3 text-center mb-5 mt-5">{% trans into 'fr' %}title home{% endtrans %}
			</h1>
		</disv>
		<div class="container">
			<div class="row">
				{% for ad in ads %}
					{% include 'ad/_ad.html.twig' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
