div.container{
    margin-top: 20px;;
}

div.article-title{
    background-size: cover;
}

div.article-title h1, div.article-title p{
    color: #FFFFFF;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#ad_content{
    display: block !important;
}