{% extends 'admin/base.html.twig' %}

{% block title %}Ajout d'une région
{% endblock %}

{% block body %}
	<div class="container">
		{{form_start(form)}}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Ajouter</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
