<h2>Bonjour {{ firstname }} {{ lastname }},</h2>

<p>L'article <strong>{{articleTitle }}</strong> a été créé.</p>
</br>

<p>Vous pouvez le voir à cette adresse en cliquant <a href="{{ path }}">Ici</a></p>
</br>

<p>Merci!</p>