<h2>Bonjour {{ firstname }} {{ lastname }},</h2>

<p>L'article <strong>{{articleTitle }}</strong> a été créé.</p>
<p>Il est en attente de validation, un mail vous sera envoyé lorsqu'il sera en ligne.</p>
</br>

<p>Merci et bon partage!</p>